# Manipulando Datasets com Pandas

In [1]:
import pandas as pd

In [2]:
file = open("arquivos/Current_Employee_Names__Salaries__and_Position_Titles_20240107.csv", "r")
full_data = pd.read_csv(file)

In [3]:
full_data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"RAVINDRAN, POOJA",LEGISLATIVE AIDE,CITY COUNCIL,F,SALARY,NaN,82392.0,NaN
1,"TOVAR, JUAN T",LEGISLATIVE AIDE,CITY COUNCIL,F,SALARY,NaN,49992.0,NaN
2,"LOPEZ, HUGO A",ALDERMANIC AIDE,CITY COUNCIL,P,HOURLY,10.0,NaN,16.00
3,"PUEBLA, SANDRA",ALDERMANIC AIDE,CITY COUNCIL,P,HOURLY,20.0,NaN,36.80
4,"GONZALEZ, MICHAEL A",POOL MOTOR TRUCK DRIVER,DEPARTMENT OF STREETS AND SANITATION,F,HOURLY,40.0,NaN,45.98

In [7]:
# Passando como índice o título de determinada coluna, e usando value_counts(),
# o pandas faz um ranking valores com mais aparições naquela coluna
full_data['Department'].value_counts()

Department
CHICAGO POLICE DEPARTMENT                                    12407
CHICAGO FIRE DEPARTMENT                                       4739
DEPARTMENT OF STREETS AND SANITATION                          2148
CHICAGO DEPARTMENT OF AVIATION                                2038
DEPARTMENT OF WATER MANAGEMENT                                1977
CHICAGO DEPARTMENT OF TRANSPORTATION                          1301
CHICAGO PUBLIC LIBRARY                                        1118
OFFICE OF EMERGENCY MANAGEMENT AND COMMUNICATIONS              850
DEPARTMENT OF FLEET AND FACILITY MANAGEMENT                    845
CHICAGO DEPARTMENT OF PUBLIC HEALTH                            691
DEPARTMENT OF FAMILY AND SUPPORT SERVICES                      570
DEPARTMENT OF FINANCE                                          510
CITY COUNCIL                                                   391
DEPARTMENT OF LAW                                              334
OFFICE OF PUBLIC SAFETY ADMINISTRATION                         288
DEPARTMENT OF BUILDINGS                                        235
DEPARTMENT OF BUSINESS AFFAIRS AND CONSUMER PROTECTION         190
DEPARTMENT OF PLANNING AND DEVELOPMENT                         167
CIVILIAN OFFICE OF POLICE ACCOUNTABILITY                       137
OFFICE OF INSPECTOR GENERAL                                    121
BOARD OF ELECTION COMMISSIONERS                                105
DEPARTMENT OF HUMAN RESOURCES                                   98
DEPARTMENT OF HOUSING                                           98
OFFICE OF THE MAYOR                                             97
DEPARTMENT OF PROCUREMENT SERVICES                              85
OFFICE OF CITY CLERK                                            83
DEPARTMENT OF CULTURAL AFFAIRS AND SPECIAL EVENTS               66
DEPARTMENT OF TECHNOLOGY AND INNOVATION                         64
CHICAGO ANIMAL CARE AND CONTROL                                 63
OFFICE OF BUDGET & MANAGEMENT                                   51
DEPARTMENT OF ADMINISTRATIVE HEARING                            39
CITY TREASURER'S OFFICE                                         36
MAYORS OFFICE FOR PEOPLE WITH DISABILITIES                      35
COMMUNITY COMMISSION FOR PUBLIC SAFETY AND ACCOUNTABILITY       20
CHICAGO COMMISSION ON HUMAN RELATIONS                           18
BOARD OF ETHICS                                                  7
DEPARTMENT OF ENVIRONMENT                                        5
CHICAGO POLICE BOARD                                             2
LICENSE APPEAL COMMISSION                                        1
Name: count, dtype: int64