# Manipulando arquivos TXT com Python

In [2]:
text = "Python é uma linguagem poderosa\nPython é usado em Ciência de Dados\nEstude Python"
print(text)

Python é uma linguagem poderosa
Python é usado em Ciência de Dados
Estude Python

In [6]:
import os

In [7]:
file = open(os.path.join("arquivos/python.txt"), "w")

In [10]:
for word in text.split():
    file.write(word + " ")

In [11]:
file.close()

In [12]:
new_file = open("arquivos/python.txt", "r")
new_file.read()

'Python é uma linguagem poderosa Python é usado em Ciência de Dados Estude Python '

In [13]:
new_file.close()

### Expressão with

Quando usada, não é necessário fechar com close() um arquivo sempre que terminar sua manipulação, tudo é feito automaticamente

In [26]:
import pandas as pd

In [27]:
with open("arquivos/python.txt", "r") as file:
    content = file.read()

In [28]:
content

'Python é uma linguagem poderosa Python é usado em Ciência de Dados Estude Python '

In [29]:
len(content)

81

In [30]:
with open("arquivos/Current_Employee_Names__Salaries__and_Position_Titles_20240107.csv", "r") as file:
    table = pd.read_csv(file)
    job_titles = table['Job Titles'].value_counts()

In [31]:
table

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"RAVINDRAN, POOJA",LEGISLATIVE AIDE,CITY COUNCIL,F,SALARY,NaN,82392.00,NaN
1,"TOVAR, JUAN T",LEGISLATIVE AIDE,CITY COUNCIL,F,SALARY,NaN,49992.00,NaN
2,"LOPEZ, HUGO A",ALDERMANIC AIDE,CITY COUNCIL,P,HOURLY,10.0,NaN,16.00
3,"PUEBLA, SANDRA",ALDERMANIC AIDE,CITY COUNCIL,P,HOURLY,20.0,NaN,36.80
4,"GONZALEZ, MICHAEL A",POOL MOTOR TRUCK DRIVER,DEPARTMENT OF STREETS AND SANITATION,F,HOURLY,40.0,NaN,45.98
...,...,...,...,...,...,...,...,...
32025,"VELAZQUEZ, ALEXANDER",POLICE OFFICER,CHICAGO POLICE DEPARTMENT,F,SALARY,NaN,79974.00,NaN
32026,"KITTRELL, CRYSTINA M",POLICE OFFICER,CHICAGO POLICE DEPARTMENT,F,SALARY,NaN,97974.00,NaN
32027,"SCHNIER, BRIAN T",SERGEANT,CHICAGO POLICE DEPARTMENT,F,SALARY,NaN,133860.00,NaN
32028,"GONZALEZ, RAFAEL",POLICE OFFICER,CHICAGO POLICE DEPARTMENT,F,SALARY,NaN,56040.00,NaN
32029,"POWELL, TIMOTHY M",CHIEF OPERATING ENGINEER,DEPARTMENT OF FLEET AND FACILITY MANAGEMENT,F,SALARY,NaN,143228.76,NaN

In [32]:
job_titles

Job Titles
POLICE OFFICER                            8453
FIREFIGHTER-EMT                           1491
SERGEANT                                  1282
POLICE OFFICER (ASSIGNED AS DETECTIVE)    1124
POOL MOTOR TRUCK DRIVER                   1041
                                          ...
DIR OF ATTY RECRUITMENT & PROF DEV           1
CENTRAL LIBRARY DIRECTOR                     1
PUBLIC RELATIONS REPRESENTATIVE I            1
FIRST DEPUTY CHIEF OF STAFF                  1
MGR OF FOOD PROTECTION SERVICES              1
Name: count, Length: 1122, dtype: int64