# Manipulando Datasets com Pandas

In [1]:
import pandas as pd

In [2]:
file = open("arquivos/Current_Employee_Names__Salaries__and_Position_Titles_20240107.csv", "r")
full_data = pd.read_csv(file)

In [3]:
full_data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"RAVINDRAN, POOJA",LEGISLATIVE AIDE,CITY COUNCIL,F,SALARY,NaN,82392.0,NaN
1,"TOVAR, JUAN T",LEGISLATIVE AIDE,CITY COUNCIL,F,SALARY,NaN,49992.0,NaN
2,"LOPEZ, HUGO A",ALDERMANIC AIDE,CITY COUNCIL,P,HOURLY,10.0,NaN,16.00
3,"PUEBLA, SANDRA",ALDERMANIC AIDE,CITY COUNCIL,P,HOURLY,20.0,NaN,36.80
4,"GONZALEZ, MICHAEL A",POOL MOTOR TRUCK DRIVER,DEPARTMENT OF STREETS AND SANITATION,F,HOURLY,40.0,NaN,45.98

In [7]:
# Passando como índice o título de determinada coluna, e usando value_counts(),
# o pandas faz um ranking valores com mais aparições naquela coluna
full_data['Department'].value_counts()

Department
CHICAGO POLICE DEPARTMENT                                    12407
CHICAGO FIRE DEPARTMENT                                       4739
DEPARTMENT OF STREETS AND SANITATION                          2148
CHICAGO DEPARTMENT OF AVIATION                                2038
DEPARTMENT OF WATER MANAGEMENT                                1977
CHICAGO DEPARTMENT OF TRANSPORTATION                          1301
CHICAGO PUBLIC LIBRARY                                        1118
OFFICE OF EMERGENCY MANAGEMENT AND COMMUNICATIONS              850
DEPARTMENT OF FLEET AND FACILITY MANAGEMENT                    845
CHICAGO DEPARTMENT OF PUBLIC HEALTH                            691
DEPARTMENT OF FAMILY AND SUPPORT SERVICES                      570
DEPARTMENT OF FINANCE                                          510
CITY COUNCIL                                                   391
DEPARTMENT OF LAW                                              334
OFFICE OF PUBLIC SAFETY ADMINISTRATION                         288
DEPARTMENT OF BUILDINGS                                        235
DEPARTMENT OF BUSINESS AFFAIRS AND CONSUMER PROTECTION         190
DEPARTMENT OF PLANNING AND DEVELOPMENT                         167
CIVILIAN OFFICE OF POLICE ACCOUNTABILITY                       137
OFFICE OF INSPECTOR GENERAL                                    121
BOARD OF ELECTION COMMISSIONERS                                105
DEPARTMENT OF HUMAN RESOURCES                                   98
DEPARTMENT OF HOUSING                                           98
OFFICE OF THE MAYOR                                             97
DEPARTMENT OF PROCUREMENT SERVICES                              85
OFFICE OF CITY CLERK                                            83
DEPARTMENT OF CULTURAL AFFAIRS AND SPECIAL EVENTS               66
DEPARTMENT OF TECHNOLOGY AND INNOVATION                         64
CHICAGO ANIMAL CARE AND CONTROL                                 63
OFFICE OF BUDGET & MANAGEMENT                                   51
DEPARTMENT OF ADMINISTRATIVE HEARING                            39
CITY TREASURER'S OFFICE                                         36
MAYORS OFFICE FOR PEOPLE WITH DISABILITIES                      35
COMMUNITY COMMISSION FOR PUBLIC SAFETY AND ACCOUNTABILITY       20
CHICAGO COMMISSION ON HUMAN RELATIONS                           18
BOARD OF ETHICS                                                  7
DEPARTMENT OF ENVIRONMENT                                        5
CHICAGO POLICE BOARD                                             2
LICENSE APPEAL COMMISSION                                        1
Name: count, dtype: int64

## Extraindo dados da web e manipulando com pandas

In [1]:
from urllib.request import urlopen
import pandas as pd

file = urlopen("https://data.cityofchicago.org/resource/68nd-jvt3.csv")
data = pd.read_csv(file)

In [2]:
data

,crash_unit_id,crash_record_id,crash_date,unit_no,unit_type,num_passengers,vehicle_id,cmrc_veh_i,make,model,...,trailer1_length,trailer2_length,total_vehicle_length,axle_cnt,vehicle_config,cargo_body_type,load_type,hazmat_out_of_service_i,mcs_out_of_service_i,hazmat_class
0,1739901,b6fc5c5f5b061497c8c5260a364f49c5d3e0685e8d0b5a...,2024-01-13T01:00:00.000,1,DRIVER,NaN,1656434.0,NaN,TOYOTA,PRIUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1739902,b6fc5c5f5b061497c8c5260a364f49c5d3e0685e8d0b5a...,2024-01-13T01:00:00.000,2,DRIVER,NaN,1656435.0,NaN,TOYOTA,BZ4X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1739878,183e3a738a00b4d424bfdb3568a6e01f810bf2097fff3f...,2024-01-12T22:15:00.000,1,DRIVER,NaN,1656407.0,NaN,FORD,F150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1739879,183e3a738a00b4d424bfdb3568a6e01f810bf2097fff3f...,2024-01-12T22:15:00.000,2,PARKED,NaN,1656412.0,NaN,TOYOTA,HIGHLANDER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1739882,57222e1572d069abf7c07238b97f988056c30eb9421ac0...,2024-01-12T22:15:00.000,1,DRIVER,NaN,1656418.0,NaN,HYUNDAI,GENESIS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1738516,7eaeaf3574decc4067236527ceb7da54c865157d48da3e...,2024-01-10T17:35:00.000,1,DRIVER,1.0,1655088.0,NaN,TOYOTA,COROLLA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,1738517,7eaeaf3574decc4067236527ceb7da54c865157d48da3e...,2024-01-10T17:35:00.000,2,DRIVER,NaN,1655100.0,NaN,HONDA,CR-V,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,1738520,952cefcdd54dfb6f230b13eca9f61746a8303a63fa052a...,2024-01-10T17:30:00.000,1,DRIVER,NaN,1655090.0,NaN,CHEVROLET,OTHER (EXPLAIN IN NARRATIVE),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,1738521,952cefcdd54dfb6f230b13eca9f61746a8303a63fa052a...,2024-01-10T17:30:00.000,2,DRIVER,NaN,1655086.0,NaN,CHEVROLET,MALIBU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,1738487,feef8015092bbae50c85ad91921de2f8118ec94683bf82...,2024-01-10T17:25:00.000,1,DRIVER,NaN,1655060.0,NaN,TOYOTA,CAMRY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data['make'].value_counts()

make
TOYOTA                                                 124
CHEVROLET                                              122
FORD                                                   118
NISSAN                                                  74
HONDA                                                   73
UNKNOWN                                                 72
JEEP                                                    44
DODGE                                                   35
HYUNDAI                                                 32
KIA                                                     28
MAZDA                                                   20
LEXUS                                                   16
GENERAL MOTORS CORPORATION (GMC)                        16
BUICK                                                   16
TESLA                                                   14
FREIGHTLINER CORPORATION                                14
ACURA                                                   12
MITSUBISHI                                              11
VOLKSWAGEN                                              11
SUBARU                                                  11
BMW                                                     10
CADILLAC                                                10
MERCEDES-BENZ                                            9
INFINITI                                                 9
AUDI                                                     9
NEW FLYER                                                8
CHRYSLER                                                 7
NOVA BUS                                                 6
PONTIAC                                                  6
VOLVO                                                    5
LINCOLN                                                  5
LAND ROVER                                               4
JAGUAR                                                   3
ISUZU                                                    3
OLDSMOBILE                                               2
INTERNATIONAL TRAILER CORPORATION                        2
SCION                                                    2
SATURN                                                   2
PIERCE MANUFACTURING, INC.(APPLETON, WI)                 1
NAVISTAR                                                 1
GENERAL                                                  1
CCC (CRAIN CARRIER)                                      1
INTERNATIONAL COACH MANUFACTURING                        1
MACK TRUCKS, INC.                                        1
MINI-CRUISER (MANUFACTURED BY R.B.R. CORPORATION)        1
ALFA ROMEO                                               1
AUTOCAR                                                  1
INTERNATIONAL HARVESTER COMPANY                          1
PETERBILT MOTORS COMPANY (DIVISION OF PACCAR, INC.)      1
GENESIS                                                  1
INTERNATIONAL HARVESTER                                  1
PORSCHE                                                  1
FLEETWOOD ENTERPRISES, INC.                              1
MERCURY                                                  1
Name: count, dtype: int64

In [4]:
data['unit_type'].value_counts()

unit_type
DRIVER               861
PARKED               112
PEDESTRIAN            14
DRIVERLESS             9
BICYCLE                2
NON-MOTOR VEHICLE      1
Name: count, dtype: int64